@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {    
    --fs-600: 2rem;
    --fs-500: 1.35rem;
    --fs-400: 1rem;
    --col-whr: #e2e1e1;
    --col-whp: #f7e4f2;
    --col-rd: #99103d;
}

* {
    box-sizing: border-box;
}

body {
    font-size: var(--fs-400);
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--col-whr);
    background-color: #000;
    /* background-image: url("../img/JAHJAH.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: screen; */
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    font-weight: bolder;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.header-logo {
    border-radius: 3em;
    padding: .4em;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--col-rd);
    position: fixed;
    width: 100%;
    top: 0;
    opacity: .9;
}

.nav-link_2 {
    padding: 1.5em;
    text-align: right;
    color: var(--col-whr);
    text-decoration: none;
}


.nav-link_2:hover {
    background: #bb215c;
    color: var(--col-whr);
}

.img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: .3em;
    margin: 5em auto;
}

/* .img {      
    animation: imgeye 11s infinite;
    margin: 0 auto;
} */

.img {
    border-radius: 3em;
    margin: 0 auto;
    -webkit-animation: spin 3s linear infinite; /* Safari */
    animation: spin 11s linear infinite;
    opacity: 11;
}

@keyframes imgeye {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

 /* Safari */
 @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }


/* @keyframes imgeye {
    0% {border-radius: 3em 13em;}
    25% {border-radius: 5em 11em;}
    50% {border-radius: 13em 3em;}
    75% {border-radius: 100%;}
    100% {border-radius: 3em 13em;}
} */

.decoration_words {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    width: 80%;
}

.decoration_words a {
    font-size: var(--fs-500);
    color: var(--col-whr); 
    /* text-align: center; */
    line-height: 1.4rem;        
    letter-spacing: .6em;
    text-shadow: 4px 1px #99103d;
    text-decoration: none;
    animation: bigpre 11s infinite alternate;
    padding: .2em;
    /* background-color: #000;
    opacity: .6; */
}

@keyframes bigpre {
    50% {font-size: 11em 2em; color: #99103d; text-shadow: -4px -1px var(--col-whr);}
}

.item_2 {
    align-self: flex-end;
}

.item_3 {
    align-self: center;
}


footer {
    background-color: #99103d;
    opacity: .5;
    padding: .3em;
    margin: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.smedia {
    display: flex;
    flex-direction: row;    
    font-size: var(--fs-500);
    text-align: center;
}

.smedia a {    
    margin: 0 auto;
    padding: 0 1.5em;
    text-decoration: none;
    color: var(--col-whp);  
}

@media screen and ( max-width: 800px ) {
    .item_2, .item_3 {
        align-self: center;
    }

    .img_container {
        width: 80%;
        height: auto;
        padding: 2em;
    }
    
    .decoration_words {
        width: 100%;
        align-items: center;
        gap: 1em;        
    }

    .decoration_words a {
        font-size: 1em;
    }

}