@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {    
    --fs-600: 2rem;
    --fs-500: 1.35rem;
    --fs-400: 1rem;
    --col-whr: #e2e1e1;
    --col-whp: #f7e4f2;
    --col-rd: #99103d;
}

* {
    box-sizing: border-box;
}

body {
    font-size: var(--fs-400);
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--col-whr);
    background-color: #000;
    margin: 0;
}

/* audio video gallery page */

.video_gallery {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 11em auto;     */
    gap: 3em;  
}

.container a, img {
    background-color: var(--col-rd);
    color: var(--col-whr);
    padding: .7em;
    border-radius: .7em;
    text-decoration: none;
}

.gif {
    width: 50%;
}

.links {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: .5em auto;
}


/* contact form page */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 6em auto;
    align-items: center;
    opacity: .7;
    border-radius: 1em;
    padding: 1em;
    color: var(--col-whr);
}

form input, textarea {
    background-color: #212121;
    color: var(--col-whp);
    margin: 1em;
    padding: .5em;
    width: 75%;
    border-radius: .5em;
}

/*  collages gallery page */

/* .gy-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;    
    flex: 1;
    width: 85%;
    margin: 11em auto;
    gap: 2em;
} */

/* .gy-container div {
    background-color: red;
    width: 15%;
    height: 5em;
    border-radius: .3em;
    margin: 1em;    
} */

.collage-h1 {
    text-align: center;
    margin: 3em auto;
    margin-bottom: .5em;
}

.gy-container {
    margin: 0 auto ;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em 2em;
    justify-content: space-around;
    width: 90%;    
}

.gy-container div {
    margin: 0 auto;
    width: 11em;
    height: 11em;
    background-color: var(--col-rd);
    border-radius: .5em;
}

.gy-container button {
    justify-content: center;
    text-align: center;
    margin: 1em auto;
    grid-column: 2;
    background-color: var(--col-rd);
    padding: .6em;
    border-radius: .5em;    
}

.gy-container button a {
    color: var(--col-whr);
    text-decoration: none;
}
