@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

:root {    
    --fs-600: 2rem;
    --fs-500: 1.35rem;
    --fs-400: 1rem;
    --col-whr: #e2e1e1;
    --col-whp: #f7e4f2;
    --col-rd: #99103d;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: var(--fs-400);
    font-family: 'Nanum Gothic', sans-serif;
    color: var(--col-whr);
    background-color: #000;
    margin: 0;
}

/* audio video gallery page */

.video_gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
}

.music-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 7em auto;    
    gap: 3em;  
}

.music-container a, .music-container img {
    background-color: #212121;
    color: var(--col-whr);
    padding: .7em;
    border-radius: .7em;
    text-decoration: none;
}

.gif {
    width: 50%;
}

.links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: .5em auto;
}


/* contact form page */

.form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    margin: 6em auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: .7;
    border-radius: 1em;
    padding: 1em;
    color: var(--col-whr);
}

form input, textarea {
    background-color: #212121;
    color: var(--col-whp);
    margin: 1em;
    padding: .5em;
    width: 75%;
    border-radius: .5em;
}

/*  collages gallery page */

/* .gy-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;    
    flex: 1;
    width: 85%;
    margin: 11em auto;
    gap: 2em;
} */

/* .gy-container div {
    background-color: red;
    width: 15%;
    height: 5em;
    border-radius: .3em;
    margin: 1em;    
} */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3em;
}

.collage-h1 {
    text-align: center;
    margin: 3em auto;
    margin-bottom: .5em;
}

.gy-container {
    margin: 0 auto ;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 2em auto 2em auto;
    grid-template-columns: repeat(auto-fit, minmax(21vw, 1fr));
    -ms-flex-pack: distribute;
        justify-content: space-around;
    gap: 1em 2em;
    width: 90%;    
}

.gy-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 1px solid var(--col-rd);
    border-radius: .4em;
    cursor: pointer;
}

.gy-container img {
    width: 100%;
    height: auto;
}

.gy-container button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 1em auto;
    -ms-grid-column: 2;
    grid-column: 2;
    background-color: var(--col-rd);
    padding: .6em;
    border-radius: .5em;    
}

.gy-container button a {
    color: var(--col-whr);
    text-decoration: none;
}